@import "tailwindcss";

@theme {
  --color-furious-primary: #EF4444;
  --color-furious-bg: #111827;
  /* Dark charcoal/black */
  --color-furious-text: #FFFFFF;

  --font-furious: "Inter", sans-serif;

  --radius-furious-none: 0;
  --radius-furious-sm: 0.125rem;

  /* Calm theme variables */
  --color-calm-bg: #F0F9FF;
  --color-calm-primary: #BFDBFE;
  --color-calm-text: #64748B;

  --font-calm: "Outfit", sans-serif;

  --radius-calm-container: 2rem;
}

@custom-variant short (@media (height <=700px));

.custom-content-marker {
  position: relative;
  width: 25px;
  height: 34px;
}

.custom-content-marker img {
  width: 100%;
  height: 100%;
}

.custom-content-marker .close-btn {
  position: absolute;
  top: -6px;
  right: -8px;
  width: 15px;
  height: 15px;
  font-size: 12px;
  background: #ccc;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 15px;
  box-shadow: -1px 1px 1px rgba(10, 10, 10, .2);
  cursor: pointer;
}

.custom-content-marker .close-btn:hover {
  background: #666;
}
